#contact {
  padding-top: 6rem;
  padding-bottom: 30px;
}

#img-text-contact {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

#contact-text {
  margin: 1rem 2rem;
  text-align: left;
}

#contact-img {
  max-width: clamp(16rem, 18rem, 22rem);
  max-height: clamp(16rem, 18rem, 22rem);
  margin: 2rem 2rem 0;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 10px var(--color-gray);
}